{{input type="name" value=username placeholder="username"}}
<br>
{{input type="password" value=password placeholder="password"}}
<br>
<button {{action "doLogin" username password}}>Signup</button>
{{outlet}}
